asgiref==3.2.7
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
Crypto==1.4.1
Django==3.1.6
idna==2.9
image==1.5.30
Naked==0.1.31
Pillow==7.1.1
pycryptodome==3.9.7
PyPDF2==1.26.0
pytz==2019.3
PyYAML==5.3.1
reportlab==3.5.42
requests==2.23.0
selenium==3.141.0
shellescape==3.8.1
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.9
